body {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Lexend Mega';
    background-image: url(../public/image/fundo_lg.png);
}
.avof {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
.paif {
    border-radius: 25px;
    display: flex;
    border: 2px solid black;
    width: 637px;
    height: 662px;
    justify-content: center;
    background-image: url(../public/image/login_fd.png);
   
}