* {
    margin: 0 0;
}

img {
    height: 100px;
    width: 100px;
}

.area_produtos 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(103, 83, 53);
    /* height: 13rem; */
}

.card 
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}


.cds 
{
    border: #eae0c2 2px solid;
    border-radius: 10px;
    background-color: #281905;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cds button 
{
        box-shadow: 0px 1px 0px 0px #1c1b18;
        background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
        background-color:#eae0c2;
        border-radius:15px;
        border:2px solid #333029;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:14px;
        font-weight:bold;
        padding:4px 4px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
}

.titulo button 
{
        box-shadow: 0px 1px 0px 0px #1c1b18;
        background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
        background-color:#eae0c2;
        border-radius:15px;
        border:2px solid #333029;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:14px;
        font-weight:bold;
        padding:4px 4px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
}

    
.cds p{
    color: aliceblue;
    font-size: 25px;
}

.resultados{
    display: flex;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    height: 80px;
    align-items: center;
    border: #1c1b18 3px solid;
    flex-wrap: wrap;
}

.total p{
    font-size: 25px;
}

.total{
    background-color: #f6c98f;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border: #1c1b18 3px solid;
}

.titulo {
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    height: 80px;
    align-items: center;
    border: #1c1b18 3px solid;

}

Button:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color:#ccc2a6;
}
Button:active {
    position:relative;
    top:1px;
}
