@import url('https://fonts.cdnfonts.com/css/koho');


body {
    background: #DDDBCA;
    font-family: KoHo medium;
    margin: 0px;
    box-sizing: border-box;

}

.banner .esquerda {
    display: flex;
    flex-direction: row;
    margin-top: 56px;

}

.banner .direita {
    display: flex;
    flex-direction: row;
    /* margin-right: 10cm; */
    /* border: #00ffff 2px solid; */
}


/* banner */
.banner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;



}

.nav {
    align-items: end;
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    /* border: #ff0000 2px solid; */
    margin-bottom: 3px;
}

.nav a {
    display: flex;
    align-items: center;
    margin-left: 2px;
    /* texto */
    text-align: left;
    font-size: 20px;
    font-family: KoHo medium;
    transition-duration: 0.5s;
    text-decoration: none;
    color: #000000;
}


.anim {
    height: 25%;
    display: flex;
    align-items: end;
    /* border: #ff008c 2px solid; */

}

.button {
    width: 145px;
    height: 50px;
    background: #c6c6c6;
    border-left: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
    background-color: rgb(240, 211, 168);
    margin-top: -10px;
    align-self: flex-start;
}

/* area das imagens */
#logo {
    height: 280px;
    margin-left: 50px;
}

#lin {
    border: 1px solid #000000;
    transform: rotate(180deg);
    margin-top: -5px;

}
