@import url('https://fonts.cdnfonts.com/css/koho-2');
body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'KoHo', sans-serif;
}

/* login and Register */

.topo {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* border: 3px black solid; */
    background-color: rgba(63, 38, 28, 1);
}

.topo .fundo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    /* bord3r: 10px green solid; */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.carrinho {
    display: flex;
    align-items: center;
}

.btn {
    text-decoration: none;
    color: black;
    padding: 0px 6px 0px 6px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 30px;
    font-size: 15px;
}


/* buttons and logo */


.meio {
    display: flex;
    flex-direction: column;
    border: #000000 1px solid;
}

.meio .fundo img {
    height: 100%;

}


.meio .fundo {
    display: flex;
    flex-direction: column;

}


.botoes {
    display: flex;

    align-items: flex-end;
    height: 50px;
    margin-top: -6px;
    background-color: rgba(63, 38, 28, 1);
    /* align-content: space-between; */
    justify-content: center;
}


.bts .btn {
    background: #FFEBD9;
    box-shadow: 0px 6px 4px #000000;
    border-radius: 40px;


}

.bt a {
    padding: 3px 10px 3px 10px;
    font-size: 16px;

}

.bts {
    display: flex;
    align-items: center;
    width: 500px;
    height: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}







/* products area */


.areapr {
    display: flex;
    height: 100vh;
    /* margin: -1px; */
    /* border: 1px solid red; */
}

.fdpr {
    width: 100%;
    /* height: 1080px; */
    display: flex;
    margin-top: -1px;
    background-image: url('/pet-store/img/grama.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    justify-content: center;
}



.produtos {
    display: flex;
    flex-direction: column;
    width: 1377px;
    background: #694D1B;
    border-width: 2px 3px 2px 3px;
    border-style: solid;
    border-color: #000000;
    /* justify-content: center; */
    align-items: center;
    
}


.produto {
    margin-top: 10px;
    display: flex;
    /* border: 1px solid #000000; */
    height: 100%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
    align-content: flex-start;


}

/* search bar */
.pesq {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
    justify-content: end;
}

.inpt {
    width: 250px;
    height: 20px;
    background: #D9D9D9;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-image: url('/pet-store/img/loupe.png');
    background-position: 5px 1px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 30px;
    background-size: 15px;

}
.inpt[type=text]:focus {
    border: 3px solid #050505;
    background-color: rgb(226, 219, 155);
}


/* card style */


.cards{
    width: 180px;
    height: 269px;

}


.bxbt {
    width: 180px;
    height: 269px;
    background: #456A64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;


}

.bxup {
    display: flex;
    margin-top: 5px;
    width: 140px;
    height: 132px;
    background: #334F4A;
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}


.itens{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}


/* product image style*/
    .imgpd{
        display: flex;
        height: 90%;
        width: 90%;
        justify-content: center;
        align-items: center;
    }


/* description style in card */

.drsc{
    flex-wrap: wrap;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -6px;
}

.drsc p{
    color: #ccc;
    /* margin-top: -5px; */
    margin: 0px;
    text-align: center;
}

.p1{
    font-size: 16px;
}


/* aba do carrinho */

.CarrinhoTopo {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    background-color: rgb(143, 97, 73);
    border: 1px black solid;
}

.BntCarrinho img {
    height: 41px;
    width: 42px;
}

.AbaCarrinho {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100%;
}

.meiocarrinho{
    height: 100%;
    background-color: rgb(255, 238, 213);
    
}

.Bnts_compras{
    display: flex;
    flex-direction: column;
}