body {
    background: #DDDBCA;
    font-family: KoHo medium;
    margin: 0px;
    box-sizing: border-box;

}

.meio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px black solid; */
}

.meio .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px black solid; */
    margin-right: 45px;
}



.txtdg p {
    width: 20rem;
    font-size: 30px;
    /* border: 1px rgb(255, 0, 187) solid; */
    background: #D9D9D9;
    border-left: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.txtdg .tdg{
    width: 450px;
}

.txtdg .tdg2{
    width: 350px;
}

#lin2 {
    display: flex;
    border: 1px solid #000000;
    transform: rotate(180deg);
    margin-top: -5px;
    width: 1372px;
}



/* area das patas */

.final{
    display: flex;
    justify-content: center;
}




.area{
    display: flex;
    width: 1372px;
    align-items: center;
    justify-content: space-around;
}

.are{
    display: flex;
    width: 1370px;
    align-items: center;
    justify-content: space-between;

}
    


.itens{
    display: flex

}

.area img{
    height: 250px;


}

.cubo{
    height: 250px;
}

.patinhas{
    height: 350px;
}
.cubo img{
    height: 100%;
    width: 100%;

}

.patinhas img{
    height: 100%;
    width: 100%;

}







/* bordas pra remover dps */
/* .patinhas{
    border: #000000 1px solid;

}

.patinhas{
    border: #000000 1px solid;

}

.cubo{
    border: #000000 1px solid;

}


.itens{
    border: #dddddd 1px solid;

}

.final{
    border: 2px black solid;

}

.area{
    border: #ffffff 1px solid;

}

.mae{
    border: 1px solid black;

}

.txts{
    border: 1px solid black;


}

.txt{
    border: 1px solid black;


} */